.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.video::after {
  content: '';
  height: 50px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  z-index: -1;
}
