.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__column-links li:not(:last-child) {
  margin-bottom: 10px;
}

.footer__column-links li:last-child {
  margin-bottom: 16px;
}
