div, section, h1, h2, h3, h4, img, p {
  border: 1px solid seagreen;
} 

li {
  list-style-type: none; /* Убираем маркеры */
 }

h4 {
  margin: 0;   /* Обнуляем марджины по умолчанию маркеры */
}


.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #2f80ed;
}


/* стили ниже уже были в проекте*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

